@import 'variables';
@import '_responsive';

section.projects {
    .section-header {
        &__header {
            counter-increment: section 3;
            &:after {
                left: 160px;
            }
            &:before {
                content: "0"counter(section) ".";
              }
        }
    }
}
