<div class="container">
  <section class="styleguide">
    <div class="page-header">
      <h1 class="primary-text">
        Styleguide
      </h1>
      <h4 class="secondary-text">
        design/style
      </h4>
    </div>
  
    <div class="flex-container style-container">
      <div class="style-section">
        <div class="style-section__header">
          <h2>Typography</h2>
        </div>
        <div class="style-section__item">
          <h1>Header 1</h1>
        </div>
        <div class="style-section__item">
          <h2>Header 2</h2>
        </div>
        <div class="style-section__item">
          <h3>Header 3</h3>
        </div>
        <div class="style-section__item">
          <h4>Header 4</h4>
        </div>
        <div class="style-section__item">
          <h5>Header 5</h5>
        </div>
        <div class="style-section__item">
          <p>This is a body paragraph,lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maxime, quaerat enim at repudiandae, 
            praesentium dolor laboriosam, eveniet qui inventore sapiente adipisci. Laudantium perspiciate?</p>
        </div>
        <div class="style-section__item">
         <a href="/styleguide">This is an inline link..</a>
        </div>
      </div>
  
      <div class="style-section">
        <div class="style-section__header">
          <h2>Colors</h2>
        </div>
        <div class="style-section__color-item">
          <div class="color-swatch"></div>
          <h2>Navy Blue</h2>
          <h3>#0a192f</h3>
        </div>
        <div class="style-section__color-item">
          <div class="color-swatch"></div>
          <h2>Teal</h2>
          <h3>#5ff2d1</h3>
        </div>
        <div class="style-section__color-item">
          <div class="color-swatch"></div>
          <h2>Purple</h2>
          <h3>#540D6E</h3>
        </div>
      </div>
    </div>
  </section>
  
</div>