<div class="side-nav-left">
  <ul class="social-icon-list">
    <li class="social-icon-list__item"><a  alt="github" href="http://www.github.com/tarnn">
      </a>
    </li>
    <li class="social-icon-list__item"><a alt="linkedIn" href="https://www.linkedin.com/in/taranjit-kang-530737b8/?originalSubdomain=ca">
      </a>
    </li>
    <li class="social-icon-list__item"><a alt="stackoverflow" href="https://stackoverflow.com/users/5551731/taranjit-kang">
      </a>
    </li>
    <li class="social-icon-list__item"><a alt="twitter" href="http://www.github.com">
      </a>
    </li>
    <li class="social-icon-list__item"><a alt="instagram" href="http://www.github.com">
      </a>
    </li>
  </ul>
</div>
