@import '_responsive';
@import 'variables';

$moveLeft: 5rem;

section.contact {
  margin-left: $moveLeft;
  .section-header {
    &__header {
      counter-increment: section 4;

      &:after {
        left: 200px;
      }

      &:before {
        content: "0"counter(section) ".";
      }
    }
  }
}


@include respond(tab-port) {
  section.contact {
    margin-left: $moveLeft / 2;
    .section-header {
      &__header {
        &:after {
          left: 185px;
        }
      }
    }
  }
}

@include respond(phone) {
    section.contact {
      margin-left: 0;
      .section-header {
        margin-left: 0;
  
        &__header {
          &:after {
            left: 195px;
          }
        }
      }
    }
  }
