<section class="contact" id="contact" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event)">
    <div *ngIf="animateContact" class="section-content">
        <h2 [@fadeInOnEnter]="{ value: '', params: { delay: 1 * 550 } }">Get in Touch!</h2>
        <p [@fadeInOnEnter]="{ value: '', params: { delay: 1 * 600 } }" >Although, I am currently not looking actively for new opportunities. My mailbox is always open, come say hello. I'll try my best to answer your email, ASAP.</p>
        <div class="hero-container__cta">
            <button [@jackInTheBoxOnEnter]="{ value: '', params: { delay: 1 * 700 } }" class="btn btn-outline-success btn-outline-custom" type="submit" (click)="mail()">Say What's Up</button>
          </div>
    </div>
  
  </section>
  