@import '_responsive';
@import 'variables';

.loader {
    padding: 0rem 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-logo {
    position: relative;
    animation: fill 1.5s ease forwards 2.2s;
    animation: toTheLeftCorner 3s ease forwards 2.2s;
    path {
        stroke: transparent;
    }

    path:nth-child(1)  {
        stroke: $secondary-text-color;
        stroke-dasharray: 1843;
        stroke-dashoffset: 1843;
        animation: line-anim 2s ease forwards 1s;
    }

    path:nth-child(2)  {
        stroke-dasharray: 3630;
        stroke-dashoffset: 3630;
        animation: line-anim 2s ease forwards 2s;
    }
    
    path:nth-child(3)  {
        stroke: $primary-text-color;
        stroke-dasharray: 3630;
        stroke-dashoffset: 3630;
        animation: line-anim 2s ease forwards 2s;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: $secondary-text-color;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes toTheLeftCorner {
    to {
        transform:translate(calc(50px - 100vw), calc(50px - 100vh));
        opacity: 0;
    }
}
