@import 'variables';
@import '_layout';
@import '_responsive';
@import '_mixins';
@import '_utils';
@import '_typography';

html {
    height: 100%;
    width: 100%;
}

body {
  background: $primary-color;
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
}

.btn-outline-custom {
  color: $secondary-color !important;
  border-color: $secondary-color !important;
  font-family: $secondary-font-family;

  &:hover {
    background-color: rgba($secondary-color, .1);
    color: $primary-text-color !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($secondary-color, .5) !important;
  }

  &:active {
    background-color: rgba($secondary-color, .8) !important;
  }

}

.nav-wrapper {
  -webkit-box-shadow: 2px 13px 13px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 13px 13px -16px rgba(0,0,0,0.75);
  box-shadow: 2px 13px 13px -16px rgba(0,0,0,0.75);
}