<section class="experience" id="experience">
  <div class="section-header" inViewport [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)">
    <h3 class="section-header__header">Experience</h3>
  </div>

  <div class="d-flex experience-container">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      <li ngbNavItem="National Cash Register (NCR)">
        <a ngbNavLink>NCR</a>
        <ng-template ngbNavContent>
          <h3>Software Engineer @ <a href="https://www.ncr.com/">NCR Corporation</a></h3>
          <h5>December 2019 - Apr 2020</h5>
          <p>Enhanced and created new functionality for customer/teller-based application, consumed by US Bank.

            Learned proprietary Yaml based SDK Api-toolkit, which featured yaml list code configured to Java actions for performing essential tasks and communicating with containerized Java Spring Boot
            microservices.
            
            Deployed containerized packaged application via Docker and Kubernetes to local cluster environment via docker and kubectl.
            
            Created E2E tests for development features with Cucumber.
            
            Used BitBucket as SCM, Microsoft Teams, Confluence and Jira for team collaboration.
            
            Configured DEV environment setup via Vagrant.
            
            Acted as release master and build master, which entails ownership over release to prod process, as well as monitored Jenkins pipelines to ensure green CI/CD.
            
            Followed agile principles and methodologies, with 2-week sprints.</p>
        </ng-template>
      </li>
      <li ngbNavItem="Intuit">
        <a ngbNavLink>Intuit</a>
        <ng-template ngbNavContent>
          <h3>Senior Software Engineer @ <a href="https://www.intuit.com/">Intuit</a></h3>
          <h5>April 2019 - Dec 2019</h5>
          <p>Acted as sole backend developer for Workpapers Canada for QuickBooks Online Accountant.

            Worked on React FE to enhance UI from BE tasks to FE e2e flow.
            
            Developed new and updated existing Graphql/RESTful api for Workpapers feature, using Java Spring Boot for integration with React front end.
            
            Amazon Web Services (AWS) integration and use of services such as IAM, STS, SQS.
            
            Flyway dB for schema management, Orika Mapper for dto mapping. Docker for containerizing application.
            
            Used splunk for log tracing and debugging.
            
            Created test cases via JUnit and ensured Jacoco code coverage was well above required limit.
            
            Followed agile methodologies and participated in daily scrum and task estimation.
            
            Used Jira, Confluence and Slack for team collaboration.
            
            Used Github for scm, and participated in PR review process.
            
            Constantly communicated with US team despite timezone differences for work papers and design discussions.
            
            Pagerduty rotation for features implemented and released to production.</p>
        </ng-template>
      </li>
      <li ngbNavItem="Express Scripts">
        <a ngbNavLink>Express Scripts</a>
        <ng-template ngbNavContent>
          <h3>Full Stack Developer @ <a href="https://www.express-scripts.ca/">Express Scripts</a></h3>
          <h5>January 2019 - Apr 2019</h5>
          <p>Acted as team lead for NIHB, auditing.

            Java Spring Boot for developing RESTful microservices.
            
            Created unit tests using Junit, Mockito and SonarCube for code coverage.
            
            Integrated Graphql with Microservice and front-end web application.
            
            Front-end development using Angular v5/7, Typescript, SCSS. Always keeping good UX, responsiveness and performance in mind.
            
            Jasmine and Karma for front end unit testing.
            
            Used Github for scm, and Jenkins for CI/CD.
            
            Followed agile methodologies and contributed to task estimation and planning.</p>
        </ng-template>
      </li>
      <li ngbNavItem="Today's Shopping Choice (TSC)">
        <a ngbNavLink>TSC</a>
        <ng-template ngbNavContent>
          <h3>Client Server Developer @ <a href="https://www.tsc.ca/">Today's Shopping Choice</a></h3>
          <h5>June 2018 - Jan 2019</h5>
          <p>Enhanced eCommerce client application (TSC/The Shopping Channel), using primarily JavaScript/Typescript, JQuery, Angular 4/5, webpack.

            Responsive design using SCSS/CSS3 and cross browser testing
            
            Worked with ASP C# code and elastic search to communicate with front end, as well as MYSQL
            
            Developed elastic search queries to retrieve data from Vue.
            
            QA automation of regression using Python + Selenium, Selenium Grid, EndTest, Ui-licious & Browserstack.
            
            Followed agile principles and participated in scrum and task estimation.</p>
        </ng-template>
      </li>
      <li ngbNavItem="RBC">
        <a ngbNavLink>RBC</a>
        <ng-template ngbNavContent>
          <h3> Technical Systems Analyst @ <a href="https://www.rbc.com/">RBC</a></h3>
          <h5>September 2016 - Apr 2018</h5>
          <p>Developed front end ui using Angular (2/4/5/6) with Reactive Programming design patterns in order to modernize and enhance experience for online banking clients. With integration of google analytics.

            Created RESTFUL Microservices to communicate with Angular frontend using Java Spring MVC, Spring boot, and IBM WAS.
            
            Followed Microservice architecture design patterns, incorporated Netflix OSS (Eureka, Ribbon, Hysterix, Zuul)
            
            Used ELK stack to view logs to provide information on leaking points and debugging.
            
            Deployed application to IBM bluemix using cloudfoundary.
            
            Use of CI and CD tools such as Jenkins and UCD.
            
            Performed unit testing with Jasmine and karma as the test runner
            
            Used SCSS/CSS + Bootstrap 3/4 to develop responsive a11y views based on wireframes.
            
            Collaboration within an agile environment for iterative development.</p>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
</section>
