@import '_responsive';
@import 'variables';

$moveLeft: 5rem;

section.experience {
  .section-header {
    margin-left: $moveLeft;

    &__header {
      counter-increment: section 2;

      &:after {
        left: 200px;
      }

      &:before {
        content: "0"counter(section) ".";
      }
    }
  }

  .nav-pills {
    width: 1000px;
    
    .active {
      background: none !important;
      border: 1px solid $secondary-text-color;
    }
  }
}


@include respond(tab-port) {
  section.experience {
    .section-header {
      margin-left: $moveLeft / 2;

      &__header {
        &:after {
          left: 185px;
        }
      }
    }

  }
}

@include respond(phone) {
    section.experience {
      .section-header {
        margin-left: 0;
  
        &__header {
          &:after {
            left: 195px;
          }
        }
      }
      .nav-pills {
        width: 750px;
        div {
          transition: all 1s ease;

          p {
            transition: all 1s ease;
          }
        }
      }
    }
  }
