@import 'variables';
@import '_responsive';

section.about {
  .content-container {
    &__text {
      max-width: 600px;
    }

    &__image {
      position: relative;

      img {
        height: 100%;
        width: 100%;
      }

      &:before {
        content: '';
        display: block;
        border: 5px solid $secondary-color;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 2rem;
        left: 3rem;
        z-index: -99;
        transition: all 1s ease-in-out;
      }

      &--overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        transition: opacity 700ms ease-in;
      }

      &:hover .content-container__image--overlay {
        opacity: 1;
        background: rgba($secondary-color, .5);
      }

      &:hover:before {
        border: 15px solid $primary-text-color;
        bottom: 0rem;
        left: 0rem;
        opacity: 0;
      }
    }

    &__skills {
      .skill {
        position: relative;
        height: 115px;
        width: 60px;

        &:nth-of-type(odd) {
          top: 40px;
        }

        &:nth-of-type(even) {
          bottom: 40px;
        }
      }
    }
  }
}

@include respond(tab-land) {
  section.about {
    .content-container {
      display: flex;
      flex-direction: column;

      &__text {
        order: 0;
        max-width: 600px;
        margin-bottom: 2rem;
      }

      &__image {
        order: 3;
        position: relative;
        margin-bottom: 2rem;
        align-self: center;

        img {
          height: 200px;
          width: 300px;
        }

        &:before {
          height: 200px;
          width: 300px;
        }

        &--overlay {
          position: absolute;
          top: 0;
          left: 0;
          height: 200px;
          width: 300px;
          display: block;
          opacity: 0;
          transition: opacity 700ms ease-in;
        }
      }

      &__skills {
        margin-bottom: 5rem;
      }
    }
  }
}

@include respond(tab-port) {
  section.about {
    .content-container {

      &__skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .skill {
          order: 2;
          padding: 0.5rem;

          &:nth-of-type(odd) {
            top: 0px;
          }

          &:nth-of-type(even) {
            bottom: 0px;
          }
        }
      }
    }
  }
}

@include respond(phone) {
  section.about {
    .content-container {
      &__image {
        margin-right: 2.7rem;

        img {
            height: 150px;
            width: 175px;
          }
  
          &:before {
            height: 150px;
            width: 175px;
          }

          &--overlay {
            height: 150px;
            width: 175px;
          }
      }
    }
  }
}
