<section class="about" id="about">
  <div class="section-header">
    <h3 class="section-header__header">About Me</h3>
  </div>

  <div class="content-container d-md-flex flex-md-wrap justify-content-between">
    <div class="content-container__text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, velit quia quis, vitae ea suscipit quam magnam
        magni tempore dolor voluptatum,
        corrupti natus error cum amet nam repellendus ex soluta.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, modi fugit, vitae nemo aut animi ad eaque
        perspiciatis molestiae, perferendis cupiditate
        veritatis optio voluptatem officia quas autem commodi obcaecati laborum.</p>
    </div>
    <div class="content-container__image">
      <img src="https://i.picsum.photos/id/433/200/300.jpg" alt="" srcset="">
    </div>

    <div class="content-container__skills">
        <img class="skill" src="/assets/icons/skills/java.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/spring.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/docker.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/kubernetes.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/javascript.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/typescript.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/angularjs.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/css3.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/amazonaws.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/github.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/jenkins.svg" alt="" srcset="">
        <img class="skill" src="/assets/icons/skills/jira.svg" alt="" srcset="">
    </div>
  </div>
</section>
