@import 'variables';
@import '_responsive';
@import '_mixins';

.side-nav-right {
  width: 50px;
  position: fixed;
  right: 40px;
  bottom: 0px;
  z-index: 10;
  color: $primary-text-color;

  .email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    a {
      margin: 20px auto;
      writing-mode: vertical-rl;
      letter-spacing: 0.1em;
    }

    &:last-of-type::after {
      content: '';
      display: block;
      width: 1px;
      height: 100px;
      background-color: $primary-text-color;
      margin: 0px auto;
    }
  }

}

@include respond(tab-port) {
  .side-nav-right {
    display: none;
  }
}
