<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" [routerLink]="['home']"><img src="/assets/icons/logo.svg" alt="" srcset=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarsDefault">
    <ul class="navbar-nav ml-auto mr-md-5">
      <li class="nav-item active">

        <div class="d-inline-flex">
          <a class="nav-link" [@fadeInDownOnEnter]="{ value: '', params: { delay: 1 * 400 } }" [routerLink]="['/home']" fragment="about" (click)="anchorClick()">About <span class="sr-only">(current)</span></a>
        </div>

      </li>
      <li class="nav-item">

        <div class="d-inline-flex">
          <a class="nav-link" [@fadeInDownOnEnter]="{ value: '', params: { delay: 2 * 400 } }" [routerLink]="['/home']" fragment="experience" (click)="anchorClick()">Experience</a>
        </div>

      </li>
      <li class="nav-item">

        <div class="d-inline-flex">
          <a class="nav-link" [@fadeInDownOnEnter]="{ value: '', params: { delay: 3 * 400 } }" [routerLink]="['/home']" fragment="work" (click)="anchorClick()">Work</a>
        </div>

      </li>
      <li class="nav-item">

        <div class="d-inline-flex">
          <a class="nav-link" [@fadeInDownOnEnter]="{ value: '', params: { delay: 4 * 400 } }" [routerLink]="['/home']" fragment="contact" (click)="anchorClick()">Contact</a>
        </div>

      </li>
    </ul>
    <button [@fadeInOnEnter]="{ value: '', params: { delay: 4 * 500 } }" class="btn btn-outline-success btn-outline-custom my-2 my-sm-0" type="submit" (click)="goToResumePage()">Resume</button>
  </div>
</nav>
