<section class="hero">
  <div class="hero-container">
    <h5 [@fadeInOnEnter]="{ value: '', params: { delay: 1 * 300 } }">Hello, I am</h5>
    <h2 [@fadeInOnEnter]="{ value: '', params: { delay: 2 * 300 } }">Taranjit Kang.</h2>
    <h3 [@fadeInOnEnter]="{ value: '', params: { delay: 3 * 300 } }"><span>I code things for the web.</span>
      <ngx-typed-js [strings]="heroText" [shuffle]="true" [loop]="true" [typeSpeed]="100" [fadeOut]="true">
      I code things for <span class="typing"></span>
    </ngx-typed-js>
  </h3>
    <div class="hero-container__lead">
      <p class="lead" [@fadeInOnEnter]="{ value: '', params: { delay: 4 * 300 } }"> 
        I'm a software engineer based in Toronto, ON specializing in building exceptional, high-quality
         websites, applications and apis.
      </p>
    </div>
    <div class="hero-container__cta">
      <button [@fadeInOnEnter]="{ value: '', params: { delay: 5 * 300 } }" class="btn btn-outline-success btn-outline-custom" type="submit" (click)="mail()">Get In Touch</button>
    </div>
  </div>
  <canvas class="background"></canvas>
</section>